# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
__pycache__/
*.pyc
logs/label_pdfs.log
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints

# Data files
data/raw_pdfs/*.pdf
data/extracted_texts/*.txt
data/useful_pdfs/*.pdf
data/processed_data/*.csv
data/features/*.joblib
data/labels.csv
data/preprocessed_texts/*.txt


# Results
results/*.joblib
results/predictions.csv
results/*.csv
results/models/*.joblib
results/reports/*.txt
results/selected_features/*.txt
results/selected_features/*.csv
results/top_useful_features/*.csv
results/top_not_useful_features/*.csv

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
